{:kotoba.app/id "cloud.itonami.isic-5610", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreif5mebbx6s4gfhfd3iar7jaejiipyzagjl5zxwp4bsubd3ly527wm", :kotoba.app/embed-url "ipfs://bafkreif5mebbx6s4gfhfd3iar7jaejiipyzagjl5zxwp4bsubd3ly527wm", :published {:archive "https://kotobase.net/ipfs/bafkreif5mebbx6s4gfhfd3iar7jaejiipyzagjl5zxwp4bsubd3ly527wm", :size 72404, :put-status 201, :get-status 200, :at "2026-08-15T13:50:33.924Z"}}
